@charset "UTF-8";
/* CSS Document */

.navbar {
	min-height:42px;
	margin-bottom:0px;
}

.author-block {
	margin: 30px 0px;
	border: thin solid #4D5259;
}
.img-author {
	margin: 0px -15px;	
}
.article {
	padding-top: 30px;
	border-right:thin solid #4D5259;
}
.sidebar {
	padding-top: 30px;
}
.list-group-item-heading {
  padding:5px 0;
  margin-bottom: 0;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.list-group-item {
  padding: 10px 0;
  border-radius: 0px;
}
.list-group-item {
  padding: 10px 0;
  border-radius: 0px;
}
.list-group-item-success {
  color: #fff;
  background-color: #F5F3F2;
}
a.list-group-item-success {
  color: #3c763d;
}

.dropdown {     
    width: 100%;
}

.img-thumbnail {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
p {
	padding: 0 0 10px 0;
	line-height:1.5;
}
.table > tbody > tr > td{
	border-top:none;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px 0;
  font-size:inherit;
  font-weight:inherit;
  border-top: 1px solid #4d5259;
  border-bottom: 2px solid #4d5259;
  border-left: 0;
}
.page-header {
  border-bottom: 1px solid #333;
}
.style-one {
    border: 0;
    height: 1px;
    background: #333;
}
.box {
	width:100%;
	padding:40px 0 20px 0;
	margin-bottom:40px;
}
.color-red {
	background-color:#E72B2D;
}
.color-red-dark {
	background-color:#cb2c30;
}
.color-dark-gray {
	background-color:#4d5259;
}
.color-gray {
	background-color:#D4D5D1;
}
.color-lt-gray {
	background-color:#f5f3f2;
}
a {
  color: #E72B2D;
  text-decoration: none;
}
a.h2-header:hover {
	color: #4d5259;
	text-decoration:underline;
}
a.h4-header:link {
	color: #4d5259;
}
a.h4-header:hover {
	color: #E72B2D;
	text-decoration:underline;
}
a:hover {
	color: #E72B2D;
	text-decoration: underline;
}
h1,
.h1 {
  font-size: 36px;
  color: #4D5259;
  font-weight: 300;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 30px;
  color: #4D5259;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
}
h3,
.h3 {
  font-size: 24px;
  color: #4D5259;
  font-weight: 800;
  line-height: 1.3;
}
h4,
.h4 {
  font-size: 18px;
  color: #4D5259;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2;
}
h5,
.h5 {
  font-size: 14px;
  color: #4D5259;
  font-weight: 800;
  line-height: 1.3;
}
h6,
.h6 {
  font-size: 12px;
  color: #4D5259;
  font-weight: 300;
  line-height: 1.5;
}
p {
  font-size: 16px;
  margin: 0 0 10px;
  color: #4D5259;
  font-weight: 300;
  line-height: 1.5;
 }
p > strong {
  font-size: 18px;
  font-weight: 800;
  display:inline-block;
  padding:20px 0 0;
  line-height:1.2;
}
html {
  font-family: Open-Sans;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  font-family: 'Open-Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #4D5259;
  font-weight: 300;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.3;
}
.label-redbox{
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: #f5f5f5;
}
/* Colors */
.bg-primary {
	background-color: #4D5259;
	color: #fff;
}
a.bg-primary:hover {
  background-color: #4D5259;
}
.bg-success {
	background-color: #F5F3F2;
	color: #4D5259;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
/* Colors */
.panel-default > .panel-heading {
	background-color:#F5f3f2;
}
/* Buttons */
.cta-btn {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 25px;
  margin-bottom:15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 3px solid;
  border-radius: 0px;
}
.cta-btn:focus,
.cta-btn:active:focus,
.cta-btn.active:focus,
.cta-btn.focus,
.cta-btn:active.focus,
.cta-btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.cta-btn:hover,
.cta-btn:focus,
.cta-btn.focus {
  text-decoration: none;
}
.cta-btn:active,
.cta-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.cta-btn.disabled,
.cta-btn[disabled],
fieldset[disabled] .cta-btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  padding: 20px 20px 15px 20px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 0px;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}
.cta-btn-default {
  color: #ef2b2d;
  background-color:transparent;
  border-color: #ef2b2d;
}
.cta-btn-default:hover,
.cta-btn-default:focus,
.cta-btn-default:active,
.cta-btn-default.active,
.cta-open > .dropdown-toggle.cta-btn-default {
  color:#fff;
  background-color:#ef2b2d;
  border-color: #ef2b2d;
}
.cta-btn-success {
  color: #d4d5d1;
  background-color:transparent;
  border-color: #d4d5d1;
}
.cta-btn-success:hover,
.cta-btn-success:focus,
.cta-btn-success:active,
.cta-btn-success.active,
.cta-open > .dropdown-toggle.cta-btn-success {
  color:#4d5259;
  background-color:#d4d5d1;
  border-color: #d4d5d1;
}
.cta-btn-primary {
  color: #4d5259;
  background-color:transparent;
  border-color: #4d5259;
}
.cta-btn-primary:hover,
.cta-btn-primary:focus,
.cta-btn-primary:active,
.cta-btn-primary.active,
.cta-open > .dropdown-toggle.cta-btn-primary {
  color:#fff;
  background-color:#4d5259;
  border-color: #4d5259;
}
.btn-success {
  color: #4d5259;
  background-color: #d4d5d1;
  border-color: #4d5259;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #4d5259;
  background-color: #f5f3f2;
  border-color: #d4d5d1;
}
.btn-primary,
.cta-btn-primary {
  color: #fff;
  background-color: #4d5259;
  border-color: #4d5259;
}
.cta-btn-primary:hover,
.cta-btn-primary:focus,
.cta-btn-primary:active,
.cta-btn-primary.active,
.open > .dropdown-toggle.cta-btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #4d5259;
  background-color: #D4D5D1;
  border-color: #4d5259;
}
.btn-warning {
  color: #4D5259;
  background-color: #fff;
  border-color: #fff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #4D5259;
  border-color: #4D5259;
}
.btn-info {
  background-color: #4D5259;
  border-color: #4D5259;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-default {
  text-shadow:none;
  color: #fff;
  background-color: #E72B2D;
  border-color: none !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #cb2c30;
  border-color: none !important;
}
.btn-border-red {
  text-shadow:none;
  color: #E72B2D;
  background-color: none;
  border-color: 2px solid #E72B2D !important;
  padding: 20px 20px 15px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0px;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}
.btn-border-red:hover,
.btn-border-red:focus,
.btn-border-red.focus,
.btn-border-red:active,
.btn-border-red.active,
.open > .dropdown-toggle.btn-border-red {
  background-color: rgba(255,255,255,0.19);
}
/* Buttons */
/* Testing */
/* Architecture */
.inline-link {
	font-weight:300;
	color:#E72B2D;
}
.views-row-container {
	margin-top:120px;
	margin-bottom:0;
}
.img-left {
	margin-right: 15px;
}
/* Keeping Text from Wrapping Images */
.content-right {
}
.content-right-img-md {
	padding-left:185px;
}
.content-right-img-sm {
	padding-left:140px;
}
.content-right-img-xs {
	padding-left:70px;
}
.img-right {
	margin-left: 15px;
}
/* End Keeping Text from Wrapping Images */
.product-col-sm {
	padding-top: 20px;
	background-color: #F5F3F2;
}
.text-box-sm {
	inline-box-align:last;
}
.grid2colb.last {
	border-left:solid 1px;
	height:120px;
}
.row-4 {
}
.center-block {
	margin: 0 auto;
}

section.success {
	background-color:#f5f3f2;
	border-bottom:solid thin;
}
section.primary {
	background-color:#fff;
	border-bottom:solid thin;
}
#industry img.shadowed {
	box-shadow:4px 0px 2px #D5D5D5;
	border-right:1px solid #C2C2C2;
}
#bigimage {
	padding-bottom:0 !important;
}
#bigimage h1 {
	text-align:center;
}
#featured h1 {
	text-align:center;
}
#featured p.subtext{
	text-align:center;
	font-size:30px;
	color: #A7A7A7;
}
#bigimage p.subtext{
	text-align:center;
	font-weight:300;
	font-size:21px;
	color: #E72B2D;
	padding-bottom:30px;
}
#content_sub_promo {
	background-color:#c1c1c1;
	border:solid 1px #f5f5f5;
	padding:15px 15px;
}
.promo-body {
	display:block;
}
#sub_promo_lower {
	padding-top: 30px;
}
.promo_cutoff {
	border-bottom:solid 1px #4D5259;
}
/* End Architecture */
/* End My CSS */
`